In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
Fake_news = pd.read_csv('C:\\Python_dataset\\Fake.csv')
True_news = pd.read_csv('C:\\Python_dataset\\True.csv')

In [12]:
Fake_news.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [13]:
True_news.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [14]:
True_news['label'] = 0

In [15]:
Fake_news['label'] = 1

In [16]:
True_news.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [17]:
Fake_news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [18]:
dataset1 = True_news[['text','label']]
dataset2 = Fake_news[['text','label']]

In [19]:
dataset = pd.concat([dataset1 , dataset2])

In [20]:
dataset.shape

(44898, 2)

In [21]:
dataset.isnull().sum() # no null values

text     0
label    0
dtype: int64

In [22]:
dataset['label'].value_counts()

label
1    23481
0    21417
Name: count, dtype: int64

In [23]:
dataset1.shape # true news

(21417, 2)

In [24]:
dataset2.shape # fake news

(23481, 2)

In [25]:

dataset = dataset.sample(frac = 1)

In [26]:
dataset.head(20)

                                                    text  label
13810  Jimmy Kimmel writes a second book for Trump pr...      1
15367  VATICAN CITY (Reuters) - Pope Francis on Wedne...      0
14289                                                         1
13559  No worries FBI Director James Comey is has ass...      1
3710   Donald Trump s new adviser on tech matters wan...      1
4626   WASHINGTON (Reuters) - President Donald Trump’...      0
11524  GENEVA (Reuters) - U.N. Syria envoy Staffan de...      0
3061   Thank you, President Obama.In 2004, during the...      1
8110   NEW YORK (Reuters) - An election analysis cond...      0
9514   WASHINGTON (Reuters) - The U.S. presidential c...      0
6148   WASHINGTON (Reuters) - President Donald Trump ...      0
11116  WASHINGTON (Reuters) - The U.S. Supreme Court ...      0
7908   WASHINGTON (Reuters) - The National Rifle Asso...      0
14387  Barack Hussein Obama has been laser focused on...      1
19822  UNITED NATIONS (Reuters) - United Nations Secr...      0
4440   The insane thing about Donald Trump s horrific...      1
7140   A video published by The Washington Post shows...      1
5386   We all knew the 2016 Republican National Conve...      1
3704   WASHINGTON (Reuters) - Dozens of American acad...      0
15986  Adam Kredo of WFB asks the question we all wan...      1

In [27]:
import nltk

In [28]:
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [29]:
ps = WordNetLemmatizer()

In [30]:
stopwords = stopwords.words('english')

In [31]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\asus\AppData\Roaming\nltk_data...

True

In [38]:
def cleaning_data(row):
    
    # convert text to into lower case
    row = row.lower() 
    
    # this line of code only take words from text and remove number and special character using RegX
    row = re.sub('[^a-zA-Z]' , ' ' , row)
    
    # split the data and make token.
    token = row.split() 
    
    # lemmatize the word and remove stop words like a, an , the , is ,are ...
    news = [ps.lemmatize(word) for word in token if not word in stopwords]  
    
    # finaly join all the token with space
    cleanned_news = ' '.join(news) 
    
    # return cleanned data
    return cleanned_news

In [ ]:
dataset['text'] = dataset['text'].apply(lambda x : cleaning_data(x)

In [40]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [41]:

from sklearn.feature_extraction.text import TfidfVectorizer

In [42]:
vectorizer = TfidfVectorizer(max_features = 50000 , lowercase=False , ngram_range=(1,2))

In [43]:
dataset.shape

(44898, 2)

In [44]:
X = dataset.iloc[:35000,0]
y = dataset.iloc[:35000,1]

In [45]:
X.head()

13810    jimmy kimmel writes second book trump pretty g...
15367    vatican city reuters pope francis wednesday ch...
14289
13559    worry fbi director james comey assured everyon...
3710     donald trump new adviser tech matter want basi...
Name: text, dtype: object

In [46]:
y.head()

13810    1
15367    0
14289    1
13559    1
3710     1
Name: label, dtype: int64

In [53]:
from sklearn.model_selection import train_test_split
train_data , test_data , train_label , test_label = train_test_split(X , y , test_size = 0.2 ,random_state = 0)

In [54]:
vec_train_data = vectorizer.fit_transform(train_data)

In [55]:
vec_train_data = vec_train_data.toarray()

In [56]:
train_data.shape , test_data.shape

((28000,), (7000,))

In [57]:
vec_test_data = vectorizer.transform(test_data).toarray()

In [58]:
vec_train_data.shape , vec_test_data.shape

((28000, 50000), (7000, 50000))

In [59]:
train_label.value_counts() # balanced partition

label
1    14655
0    13345
Name: count, dtype: int64

In [60]:
test_label.value_counts() # balanced partition

label
1    3655
0    3345
Name: count, dtype: int64

In [62]:
feature_names = vectorizer.get_feature_names_out()

In [72]:
training_data = pd.DataFrame(vec_train_data, columns=feature_names)
testing_data = pd.DataFrame(vec_test_data, columns=feature_names)

In [73]:
from sklearn.naive_bayes import MultinomialNB

In [74]:
from sklearn.metrics import accuracy_score,classification_report

In [67]:
clf = MultinomialNB()

In [68]:
clf.fit(training_data, train_label)
y_pred  = clf.predict(testing_data)

In [70]:
pd.Series(y_pred).value_counts()

1    3683
0    3317
Name: count, dtype: int64

In [75]:
test_label.value_counts()

label
1    3655
0    3345
Name: count, dtype: int64

In [76]:
print(classification_report(test_label , y_pred))

              precision    recall  f1-score   support

           0       0.95      0.94      0.95      3345
           1       0.95      0.96      0.95      3655

    accuracy                           0.95      7000
   macro avg       0.95      0.95      0.95      7000
weighted avg       0.95      0.95      0.95      7000

In [78]:
y_pred_train = clf.predict(training_data)
print(classification_report(train_label , y_pred_train))

              precision    recall  f1-score   support

           0       0.96      0.95      0.96     13345
           1       0.96      0.96      0.96     14655

    accuracy                           0.96     28000
   macro avg       0.96      0.96      0.96     28000
weighted avg       0.96      0.96      0.96     28000

In [79]:
accuracy_score(train_label , y_pred_train)

0.9583214285714285

In [80]:
accuracy_score(test_label , y_pred)

0.95

In [81]:
news = cleaning_data(str("Imposters posing as army personnel on the social media have been called out by the Indian Army as false news and disinformation."))

In [83]:
single_prediction = clf.predict(vectorizer.transform([news]).toarray())
single_prediction

C:\Users\asus\.conda\envs\py_demo\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [84]:
import joblib

In [85]:
joblib.dump(clf , 'model.pkl')

['model.pkl']

In [86]:
model = joblib.load('model.pkl')